@mixin flex-container($flow: row) {
  display: flex;  
  flex: 1;
  flex-flow: $flow;
  max-width: $container;
  margin: auto;
  padding: 0 2rem;
}

@mixin title {
  $font-size: 8rem;
  $letter-spacing: 1rem;
  font-size: $font-size;
  font-family: $font-family_en;
  letter-spacing: $letter-spacing;
  font-style: italic;
  line-height: 1.3;

  &--handwriting {
    font-family: $font-family_handwriting-en;
    color: rgba(0,0,0,0.2);
  }

  @include breakPoint_tw {
    font-size: calc(#{$font-size} * #{$rate_tw});
    letter-spacing: calc(#{$letter-spacing} * #{$rate_tw});
  }

  @include breakPoint_th {
    font-size: calc(#{$font-size} * #{$rate_th});
    letter-spacing: calc(#{$letter-spacing} * #{$rate_th});
  }

  @include breakPoint_sp {
    font-size: calc(#{$font-size} * #{$rate_sp});
    letter-spacing: calc(#{$letter-spacing} * #{$rate_sp});
  }
}
